<h3>Add to My Plate</h3>
<p>
<b>Sprite</b>
</p>
<p>
    Coca-Cola, or Coke, is a carbonated soft drink manufactured by The Coca-Cola Company. 
    Originally intended as a patent medicine,it was invented in the late 19th century 
    by John Stith Pemberton.Coca-Cola, or Coke, is a carbonated soft drink manufactured by The Coca-Cola Company. 
    Originally intended as a patent medicine,it was invented in the late 19th century 
    by John Stith Pemberton.Coca-Cola, or Coke, is a carbonated soft drink manufactured by The Coca-Cola Company. 
    Originally intended as a patent medicine,it was invented in the late 19th century 
    by John Stith Pemberton.Coca-Cola, or Coke, is a carbonated soft drink manufactured by The Coca-Cola Company. 
    Originally intended as a patent medicine,it was invented in the late 19th century 
    by John Stith Pemberton.Coca-Cola, or Coke, is a carbonated soft drink manufactured by The Coca-Cola Company. 
</p>
