<h3>Add to My Plate</h3>
<p>
<b>Biryani</b>
</p>
<p>Biryani, also known as biriyani, biriani, birani or briyani, is a mixed rice dish with 
  its origins among the Muslims of the Indian subcontinent.It can be compared to mixing a curry, 
  later combining it with semi-cooked rice separately.Biryani, also known as biriyani, biriani, birani or briyani, is a mixed rice dish with 
  its origins among the Muslims of the Indian subcontinent.It can be compared to mixing a curry, 
  later combining it with semi-cooked rice separately.Biryani, also known as biriyani, biriani, birani or briyani, is a mixed rice dish with 
  its origins among the Muslims of the Indian subcontinent.It can be compared to mixing a curry, 
  later combining it with semi-cooked rice separately
</p>
